%% -*- erlang -*-
{erl_opts, [debug_info]}.
{xref_checks, [undefined_function_calls]}.
{plugins, [rebar3_format]}.

{deps, [
  {gproc,   {git, "https://github.com/uwiger/gproc.git", {tag, "0.9.1"}}},
  {gun,     {git, "https://github.com/ninenines/gun.git", {tag, "2.1.0"}}},
  {io_libc, {git, "https://github.com/mkrentovskiy/io_libc.git", {branch, "master"}}}
]}.

{format, [
  {files, ["include/*.hrl", "src/*.erl", "src/*/*.erl", "src/*/*/*.erl", "test/*.erl"]},
  {formatter, otp_formatter},
  {options, #{ paper => 100 }}
]}.
